
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    gap: 0;
    margin: 0;
    background-color: rgb(58, 58, 58);
}

footer h1 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 5rem 0 2rem 0;
}

.foot-1, .foot-2, .foot-3, .foot-4 {
    margin: 3rem 0 5rem 0;
    padding: 0;
    justify-items: center;
}

.foot-1 {
    grid-column: 1;
    grid-row: 2;
}

.foot-2 {
    grid-column: 2;
    grid-row: 2;
}

.foot-3 {
    grid-column: 3;
    grid-row: 2;
}

.foot-4 {
    grid-column: 4;
    grid-row: 2;
}

footer p {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}

footer img {
    width: 3rem;
    height: 3rem;
}

.foot-4 img:hover{
    scale: 1.3;
}

.copy-right {
    text-align: center;
    color: tomato;
}


/* media screen css for different screen sizes */



@media screen and (max-width: 1000px){

    footer h1 {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .foot-1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .foot-2 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .foot-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .foot-4 {
        grid-column: 2;
        grid-row: 3;
    }
} 


@media screen and (max-width: 500px){

    footer h1 {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .foot-1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .foot-2 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .foot-3 {
        grid-column: 1;
        grid-row: 4;
    }
    
    .foot-4 {
        grid-column: 1;
        grid-row: 5;
    }
}