section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 0;
    margin: 0;
}

section h1 {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
    padding: 5rem 2rem 2rem 2rem;
}

.bronze,.silver,.gold {
    justify-items: center;
    margin: 2rem 2rem 5rem 2rem;
    box-shadow: 0px 0px 6px -1px rgba(5,5,5,0.51);
}

.bronze {
    grid-column: 1;
    grid-row: 2;
}

.silver {
    grid-column: 2;
    grid-row: 2;
}

.gold {
    grid-column: 3;
    grid-row: 2;
}

.bronze:hover,.silver:hover,.gold:hover {
    border: 3px solid tomato;
}

.bronze img,.silver img,.gold img {
    width: 18rem;
    height: 18rem;
    margin: 1rem;
}

.head {
    color: tomato;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 0;
}

.features {
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
    padding: 1rem;
}


.purchase_button {
    color: tomato;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgb(241, 241, 241);
    border: 2px solid tomato;
    border-radius: 10px;
    margin: 2rem 0 2rem 0;
    padding: 0;
    width: 15rem;
    height: 3rem;
}

.purchase_button:hover {
    cursor: pointer;
    color: white;
    background-color: tomato;
}


/* media screen css for different screen sizes */

@media screen and (min-width: 1451px){

    .bronze {
        grid-column: 1;
        grid-row: 2;
        width: 26rem;
        place-self: center;
    }
    
    .silver {
        grid-column: 2;
        grid-row: 2;
        width: 26rem;
        place-self: center;
    }
    
    .gold {
        grid-column: 3;
        grid-row: 2;
        width: 26rem;
        place-self: center;
    } 
}
@media screen and (max-width: 1450px){

    section h1{
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .bronze {
        grid-column: 1;
        grid-row: 2;
        width: 25rem;
        place-self: center;
    }
    
    .silver {
        grid-column: 2;
        grid-row: 2;
        width: 25rem;
        place-self: center;
    }
    
    .gold {
        grid-column: 1;
        grid-row: 3;
        width: 25rem;
        margin: 0 0 5rem 65%;
    }  
}

@media screen and (max-width: 900px){

    section h1{
        grid-column: 1;
        grid-row: 1;
    }

    .bronze,.silver,.gold {
        text-align: center;
    }

    .bronze {
        grid-column: 1;
        grid-row: 2;
        width: 25rem;
        place-self: center;
        margin: 2rem 2rem 0 2rem;
    }
    
    .silver {
        grid-column: 1;
        grid-row: 3;
        width: 25rem;
        place-self: center;
        margin: 3rem 2rem 0 2rem;
    }
    
    .gold {
        grid-column: 1;
        grid-row: 4;
        width: 25rem;
        place-self: center;
        margin: 3rem 2rem 5rem 2rem;
    }  
}

@media screen and (max-width: 500px){

    section h1{
        font-size: 2rem;
        grid-column: 1;
        grid-row: 1;
        padding: 3rem 1rem 1rem 1rem;
    }

    .bronze,.silver,.gold {
        text-align: center;
    }

    .bronze {
        grid-column: 1;
        grid-row: 2;
        width: 20rem;
        margin: 2rem 2rem 0 2rem;
    }
    
    .silver {
        grid-column: 1;
        grid-row: 3;
        width: 20rem;
        margin: 3rem 2rem 0 2rem;
    }
    
    .gold {
        grid-column: 1;
        grid-row: 4;
        width: 20rem;
        margin: 3rem 2rem 5rem 2rem;
    }  

    .bronze img,.silver img,.gold img {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
    }
}